<div class="right">
    <div class="topbar">
        <div class="user-info">
            <div class="userNamepfpstatus dflex">
                <img src="/images/avatar1.jpg" alt="avatar1">
                <h3 class="info-name"><%= name %></h3>
                <h3 class="info-status">online</h3>
            </div>
            <div class="info-tools dflex">
                <span class="material-symbols-outlined">
                    call
                </span>
                <span class="material-symbols-outlined">
                    search
                </span>
                <span class="material-symbols-outlined">
                    more_vert
                </span>
            </div>
        </div>          
    </div>
    <div class="main-content">
        <div class="chat-card-outgoing">
            <h4>hello am a user</h4>
        </div>
    </div>
</div>